.App {
  text-align: center;
}

.metamask-connect{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
